<app-common-layout *ngIf="commonLayout"></app-common-layout>

<app-user-layout *ngIf="userLayout"></app-user-layout>

<div class="container mt-4 mt-sm-5 mb-5">
  <div class="row">
    <div class="col-6 col-sm-6 col-md-5">
      <img class="img-fluid" src="/assets/img/09.png" style="width: 400px;" />
    </div>
    <div class="col-12 col-sm-12 col-md-7">
      <div class="mx-4 mx-sm-0 mt-4 mt-sm-5">
        <h3 class="super-bold mb-0">Confused with Tax ?</h3>
        <h2 class="super-bold mt-0">Not Anymore Now</h2>

        <p class="text-muted mt-4">
          Contains everything related to tax, clears the fog and prevent confusions between tax regimes and helps an taxpayee to
          understand which one is best for him/her.
        </p>

        <br />

        <div class="row">
          <div class="col-md-8">
            <button class="btn btn-secondary btn-lg" routerLink="/">
              <span class="bold">LEARN MORE</span>
            </button>
            &nbsp;
            <button class="btn btn-primary btn-lg" routerLink="/register">
              <i class="fa-solid fa-star"></i>
              <span class="bold"> GET STARTED</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
