<app-common-layout></app-common-layout>

<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col-md-10">
      <h2 class="super-bold">Tax Benefit Details</h2>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-7">
      <div class="row mb-3">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <button class="btn btn-secondary btn-sm float-end" (click)="generatePDF()">
            <i class="fa-solid fa-file-arrow-down fa-fw"></i>
            Download PDF
          </button>
        </div>
      </div>

      <table class="table table-sm table-bordered type-6">
        <thead>
          <tr>
            <th>Deductions</th>
            <th>Maximum</th>
            <th>Considered</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Standard Deduction</td>
            <td>50000.00</td>
            <td>
              <span id="standardDeduction">50000.00</span>
            </td>
          </tr>
          <tr>
            <td>Professional Tax</td>
            <td> </td>
            <td>
              <span id="professionalTax">2400.00</span>
            </td>
          </tr>
          <tr class="table-warning">
            <th>Total</th>
            <th></th>
            <th>
              <span id="totalDeductions">52400.00</span>
            </th>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Exemptions u/s 10</th>
            <th></th>
            <th>Considered</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HRA Exemption</td>
            <td></td>
            <td>
              <span id="hraExemption">0.00</span>
            </td>
          </tr>
          <tr>
            <td>LTA Exemption</td>
            <td></td>
            <td><span id="ltaExemption">0.00</span></td>
          </tr>
          <tr>
            <td>CEA Exemption</td>
            <td></td>
            <td><span id="ceaExemption">0.00</span></td>
          </tr>
          <tr>
            <td>CHA Exemption</td>
            <td></td>
            <td><span id="chaExemption">0.00</span></td>
          </tr>
          <tr>
            <td>Transport Exemption</td>
            <td></td>
            <td><span id="transportExemption">0.00</span></td>
          </tr>
          <tr class="table-warning">
            <th>Total</th>
            <th></th>
            <th><span id="totalExemption">52400.00</span></th>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Chapter VI-A Deductions</th>
            <th>Maximum</th>
            <th>Considered</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              80 C, 80CCC Deductions
              <br />
              <span class="text-muted">
                (PF, VPF, PPF, LIC, Tuition Fees, Tax Saving MF, Tax Saving on FDs, SSY, Housing Loan Principal, etc)
              </span>
            </td>
            <td>150000.00</td>
            <td><span id="ccc80Deductions">32512.00</span></td>
          </tr>
          <tr>
            <td>80D HIP for self, Spouse, Children</td>
            <td>25000.00</td>
            <td><span id="hipSelf">0.00</span></td>
          </tr>
          <tr>
            <td>
              80D HIP for Parents
              <br />
              <span id="text-muted">(INR 25000 in case of Non-Senior citzen)</span>
            </td>
            <td>50000.00</td>
            <td><span id="hipParents">0.00</span></td>
          </tr>
          <tr>
            <td>80CCD (1B) NPS self contribution</td>
            <td>50000.00</td>
            <td><span id="npsSelf">0.00</span></td>
          </tr>
          <tr>
            <td>
              80CCD (2) NPS Employer contribution
            </td>
            <td>10% of Basic + DA</td>
            <td><span id="npsEmployer">0.00</span></td>
          </tr>
          <tr>
            <td>
              80E interest on higher education loan
            </td>
            <td>NA</td>
            <td><span id="higherEducationLoan">0.00</span></td>
          </tr>
          <tr>
            <td>
              80U Person with disability
              <br />
              <span id="text-muted">(40% INR 75000, 80% INR 125000)</span>
            </td>
            <td>125000</td>
            <td><span id="personDisability">0.00</span></td>
          </tr>
          <tr>
            <td>
              80DD Person with disability dependent
              <br />
              <span id="text-muted">(40% INR 75000, 80% INR 125000)</span>
            </td>
            <td>125000</td>
            <td><span id="personDisabilityDependent">0.00</span></td>
          </tr>
          <tr>
            <td>
              80DDB Treatment of Specified Disease Self/Dependent
              <br />
              <span id="text-muted">(INR 40000 in case of Non-senior citizen)</span>
            </td>
            <td>100000</td>
            <td><span id="treatmentSpecifiedDisease">0.00</span></td>
          </tr>
          <tr>
            <td>
              80TTA interest on savings bank account & others
            </td>
            <td>100000</td>
            <td><span id="interestSavingsBankAccount">0.00</span></td>
          </tr>
          <tr class="table-warning">
            <th>Total</th>
            <th></th>
            <th><span id="totalChapterDeduction">32512.00</span></th>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<app-footer></app-footer>
