<app-common-loyout></app-common-loyout>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="super-bold">Income Tax Return (ITR)</h2>

      <hr />

      <h3 class="super-bold">Personal information</h3>
      <div class="row">
        <div class="col-md-12">
          <h4 class="super-bold mb-0">Let's Validate your Pre-filled Return:</h4>
          <p class="text-muted mt-0 type-6">We have pre-filled your information. Please confirm that details in the each section is correct.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">

              <h4 class="bold my-0">Profile</h4>

              <hr />

              <div class="row">
                <div class="col-md-4">
                  <h6 class="mb-0 text-muted">First Name:</h6>
                  <p class="bold mt-0">SAYAN</p>
                </div>
                <div class="col-md-4">
                  <h6 class="mb-0 text-muted">Last Name:</h6>
                  <p class="bold mt-0">SINHA</p>
                </div>
                <div class="col-md-4">
                  <h6 class="mb-0 text-muted">Date of Birth:</h6>
                  <p class="bold mt-0">22-Jul-1996</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <h6 class="mb-0 text-muted">PAN:</h6>
                  <p class="bold mt-0">FHJK6587C</p>
                </div>
                <div class="col-md-4">
                  <h6 class="mb-0 text-muted">Aadhar Number:</h6>
                  <p class="bold mt-0">8054xxxxxxxx98</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">

              <h4 class="bold my-0">Contact</h4>
              <p class="type-6 my-0 text-muted">Details furnished here will be used for communication purposes</p>

              <hr />

              <div class="row">
                <div class="col-md-4">
                  <h6 class="mb-0 text-muted">Mobile Number:</h6>
                  <p class="bold mt-0">1234567890</p>
                </div>
                <div class="col-md-4">
                  <h6 class="mb-0 text-muted">Email:</h6>
                  <p class="bold mt-0">sayansinha5@gmail.com</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h6 class="mb-0 text-muted">Address:</h6>
                  <p class="bold mt-0">148 Rose Gold Street, near natural park, India, 713335</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-4">
          <h6>Nature of Employment: <span class="text-danger">*</span></h6>
          <select class="form-control">
            <option selected disabled>Select</option>
            <option>Central Government</option>
            <option>State Government</option>
            <option>Public Sector Undertaking</option>
            <option>CG - Pensioners</option>
            <option>SG - Pensioners</option>
            <option>PSU - Pensioners</option>
            <option>Others</option>
            <option>Not Applicable (e.g. Family Pension)</option>
          </select>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">

              <h4 class="bold my-0">Filing Section</h4>

              <hr />

              <div class="row">
                <div class="col-md-12">
                  <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="itrsubquestion2">
                    <label class="custom-control-label type-6" for="itrsubquestion2">
                      Filed u/s
                    </label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="custom-control custom-radio mt-2">
                    <input type="radio" class="custom-control-input" id="filing1" name="filing">
                    <label class="custom-control-label type-6" for="filing1">
                      139(1)
                      <br />
                      Return filed on or before due date
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="custom-control custom-radio mt-2">
                    <input type="radio" class="custom-control-input" id="filing2" name="filing">
                    <label class="custom-control-label type-6" for="filing2">
                      139(4)
                      <br />
                      Belated - Return filed after due date
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="custom-control custom-radio mt-2">
                    <input type="radio" class="custom-control-input" id="filing3" name="filing">
                    <label class="custom-control-label type-6" for="filing3">
                      139(5)
                      <br />
                      Revised - Return revised after filing original return
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="custom-control custom-radio mt-2">
                    <input type="radio" class="custom-control-input" id="filing4" name="filing">
                    <label class="custom-control-label type-6" for="filing4">
                      119(2)
                      <br />
                      After condonation of delay
                    </label>
                  </div>
                </div>
              </div>

              <hr />

              <div class="row">
                <div class="col-md-12">
                  <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="itrsubquestion2">
                    <label class="custom-control-label type-6" for="itrsubquestion2">
                      Filed in response to notice u/s
                    </label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="custom-control custom-radio mt-2">
                    <input type="radio" class="custom-control-input" id="filing5" name="filing">
                    <label class="custom-control-label type-6" for="filing5">
                      139(9)
                      <br />
                      Filed in response to notice u/s 139(9) to rectify the defect
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="custom-control custom-radio mt-2">
                    <input type="radio" class="custom-control-input" id="filing6" name="filing">
                    <label class="custom-control-label type-6" for="filing6">
                      142(1)
                      <br />
                      Return filed against notice u/s 142(1)
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="custom-control custom-radio mt-2">
                    <input type="radio" class="custom-control-input" id="filing7" name="filing">
                    <label class="custom-control-label type-6" for="filing7">
                      148
                      <br />
                      Return filed against notice u/s 148 for assesment
                    </label>
                  </div>
                </div>
              </div>

              <hr />

              <h6>Are you opting for new Tax Regime u/s 115BAC ?</h6>
              <div class="row">
                <div class="col-md-3">
                  <div class="custom-control custom-radio mt-2">
                    <input type="radio" class="custom-control-input" id="filing6" name="filing">
                    <label class="custom-control-label text-muted type-6" for="filing6">
                      Yes
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="custom-control custom-radio mt-2">
                    <input type="radio" class="custom-control-input" id="filing7" name="filing">
                    <label class="custom-control-label text-muted type-6" for="filing7">
                      No
                    </label>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success float-right">CONFIRM <i class="fa fa-arrow-right fa-fw"></i></button>
        </div>
      </div>


    </div>
  </div>
</div>

<app-footer></app-footer>
