<footer class="mt-auto">
  <div class="container-fluid bg-blue text-white pt-5" style="border-top: 10px solid #86c1ee;">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <h3>Hitaya Finance</h3>
              <h6>Latest Tax Matters, Regulations and Tax Filing.</h6>
              <br />
              <!-- <h6>Made with <i class="fa fa-heart fa-fw"></i> in India.</h6> -->
            </div>
            <div class="col-lg-2"></div>
            <div class="col-12 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                  <h5 class="super-bold">TOOLS</h5>
                  <ul class="vertical-links">
                    <li class="links"><a class="link" routerLink="/income-tax-calculator">Income Tax Calculator</a></li>
                    <li class="links"><a class="link" routerLink="/saving-analysis">Saving Analysis</a></li>
                    <li class="links"><a class="link" routerLink="/stock">Stock Market Updates</a></li>
                    <li class="links"><a class="link" routerLink="/crypto">Crypto Market</a></li>
                  </ul>
                </div>
                <div class="col-4 col-md-4 col-lg-4">
                  <h5 class="super-bold">EXPLORE</h5>
                  <ul class="vertical-links">
                    <li class="links"><a class="link" href="#">Why Tax?</a></li>
                    <li class="links"><a class="link" href="#">Tax Regimes</a></li>
                    <li class="links"><a class="link" href="#">Latest Regulations</a></li>
                  </ul>
                </div>
                <div class="col-4 col-md-4 col-lg-4">
                  <h5 class="super-bold">MORE</h5>
                  <ul class="vertical-links">
                    <li class="links"><a class="link" href="#">About</a></li>
                    <li class="links"><a class="link" href="#">FAQ</a></li>
                    <li class="links"><a class="link" href="#">Terms</a></li>
                    <li class="links"><a class="link" href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
              <div class="row mt-4 mb-2">
                <div class="col-5 col-sm-5 col-md-5 col-lg-4">
                  <p class="type-6">&copy; 2022 Hitaya</p>
                </div>
                <div class="col-md-2 col-sm-2 col-2 text-center"></div>
                <div class="col-md-5 col-sm-5 col-5">
                  <!-- <ul class="inline-links text-end">
                    <li class="links">
                      <a class="link" href="#">Privacy Policy</a>
                    </li>
                    <li class="links">
                      <a class="link" href="#">Terms</a>
                    </li>
                    <li class="links">
                      <a class="link" href="#">FAQ</a>
                    </li>
                    <li class="links">
                      <a class="link" href="#">About</a>
                    </li>
                    <li class="links">
                      <a class="link" href="#">Contact</a>
                    </li>
                  </ul> -->
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</footer>
