<app-common-layout *ngIf="commonLayout"></app-common-layout>

<app-user-layout *ngIf="userLayout"></app-user-layout>
<form #itr6Form="ngForm" (ngSubmit)="submititr6(itr6Form)">
  <div class="container mt-4 mb-5">
    <div class="row">
      <div class="col-md-12">
        <h2 class="super-bold">Tax Benefit Form</h2>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-lg-7">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered table-responsive table-hover align-middle type-6">
              <thead>
                <tr>
                  <th colspan="2">INCOME FORM</th>
                </tr>
              </thead>
              <tbody>
                <!--<tr>
                  <td class="w-75">INCONE FORM</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="HRA Exemption" />
                  </td>
                </tr>-->
                <tr>
                  <td class="w-75">TOTAL INCOME</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="TOTAL INCOME" value={{totalYearlyIncome}} name="totalYearlyIncome" ngModel required />
                  </td>
                </tr>
                <tr>
                  <td class="w-75">STANDARD DEDUCTIONS</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="STANDARD DEDUCTIONS" value={{standardDeduction}} name="standardDeduction" ngModel required />
                  </td>
                </tr>
                <tr>
                  <td class="w-75">TDS PAID</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="TDS PAID" value={{tdsPaid}} name="tdsPaid" ngModel required />
                  </td>
                </tr>
                <tr>
                  <td class="w-75">ADVANCE TAX</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="ADVANCE TAX" value={{advanceTaxPaid}} name="advanceTaxPaid" ngModel required />
                  </td>
                </tr>
              </tbody>
            </table>

            <br />

            <table class="table table-bordered table-responsive table-hover align-middle type-6">
              <thead>
                <tr>
                  <th style="width: 60%;">Chapter VI-A Deductions</th>
                  <th style="width: 20%;">Maximum</th>
                  <th style="width: 20%;"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    80 C, 80CCC Deductions
                    <br />
                    <span class="text-muted">
                      (PF, VPF, PPF, LIC, Tuition Fees, Tax Saving MF, Tax Saving on FDs, SSY, Housing Loan Principal, etc)
                    </span>
                  </td>
                  <td>150000.00</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="0.00" value={{_80c80ccc}} name="_80c80ccc" ngModel required />
                  </td>
                </tr>
                <tr>
                  <td>80D HIP for self, Spouse, Children</td>
                  <td>25000.00</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="0.00" value={{_80dHipSelf}} name="_80dHipSelf" ngModel required />
                  </td>
                </tr>
                <tr>
                  <td>
                    80D HIP for Parents
                    <br />
                    <span class="text-muted">(INR 25000 in case of Non-Senior citzen)</span>
                  </td>
                  <td>50000.00</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="0.00" value={{_80dHipParents}} name="_80dHipParents" ngModel required />
                  </td>
                </tr>
                <tr>
                  <td>80CCD (1B) NPS self contribution</td>
                  <td>50000.00</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="0.00" value={{_80ccd1b}} name="_80ccd1b" ngModel required />
                  </td>
                </tr>
                <tr>
                  <td>
                    80CCD (2) NPS Employer contribution
                  </td>
                  <td>10% of Basic + DA</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="0.00" value={{_80ccd2}} name="_80ccd2" ngModel required />
                  </td>
                </tr>
                <tr>
                  <td>
                    80E interest on higher education loan
                  </td>
                  <td>N/A</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="0.00" value={{_80e}} name="_80e" ngModel required />
                  </td>
                </tr>
                <tr>
                  <td>
                    80U Person with disability
                    <br />
                    <span class="text-muted">(40% INR 75000, 80% INR 125000)</span>
                  </td>
                  <td>125000</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="0.00" value={{_80u}} name="_80u" ngModel required />
                  </td>
                </tr>
                <tr>
                  <td>
                    80DD Person with disability dependent
                    <br />
                    <span class="text-muted">(40% INR 75000, 80% INR 125000)</span>
                  </td>
                  <td>125000</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="0.00" value={{_80dd}} name="_80dd" ngModel required />
                  </td>
                </tr>
                <tr>
                  <td>
                    80DDB Treatment of Specified Disease Self/Dependent
                    <br />
                    <span class="text-muted">(INR 40000 in case of Non-senior citizen)</span>
                  </td>
                  <td>100000</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="0.00" value={{_80ddb}} name="_80ddb" ngModel required />
                  </td>
                </tr>
                <tr>
                  <td>
                    80TTA interest on savings bank account & others
                  </td>
                  <td>100000</td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="0.00" value={{_80tta}} name="_80tta" ngModel required />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="submit" [disabled]="!itr6Form.form.valid" class="btn btn-success float-end">
              <span class="bold">CONFIRM & SUBMIT</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-5">
        <div class="row">
          <div class="col-md-12">
            <div class="card border-warning text-warning">
              <div class="card-body">
                <h4 class="bold">Income Tax Calculator - FY 2022-2023</h4>
                <p class="text-muted type-6">
                  See how the latest budget impacts your tax calculation.
                </p>
                <a routerLink="/income-tax-calculator">Use Income Tax Calculator <i class="fa-solid fa-arrow-right fa-fw"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <div class="card border-warning text-warning">
              <div class="card-body">
                <h4 class="bold">Do you know ?</h4>
                <p class="text-muted type-6">
                  Section 115BAC is optional. Individuals will have the option to pay taxes as per new tax
                  slabs from FY 2020 - 21 onwards.
                </p>
                <a href="#" target="_blank">Learn More . . .</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
 <app-footer></app-footer>
