<app-common-layout *ngIf="commonLayout"></app-common-layout>

<app-user-layout *ngIf="userLayout"></app-user-layout>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6">
      <h2 class="super-bold">Income Tax Return (ITR)</h2>

      <div class="row">
        <form #itr1Form="ngForm" (ngSubmit)="submititr1(itr1Form)">
          <div class="col-md-12">

            <h6>Select Assesment Year: <span class="text-danger">*</span></h6>
            <div class="form-group row">
              <div class="col-6">
                <select class="custom-select custom-select-sm form-control" name="fillingYear" ngModel required>
                  <option selected>{{itr_filling}}</option>
                  <option value="2022-23">2022-2023</option>
                  <option value="2021-22">2021-2022</option>
                  <option value="2020-21">2020-2021</option>
                </select>
              </div>
            </div>

            <h6 class="mt-4 mb-0">
              Select a status applicable to you: <span class="text-danger">*</span>
            </h6>
            <div class="form-group row">
              <div class="col-6">
                <select class="custom-select custom-select-sm form-control" name="fillingStatus" ngModel required>
                  <option selected>{{itr_status}}</option>
                  <option value="Individual">Individual</option>
                  <option value="HUF">HUF</option>
                  <option value="Others">Others</option>
                </select>
              </div>
            </div>
            <!--<div class="row mt-1">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-4">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="applicablestatus1" name="applicablestatus" required>
                      <label class="custom-control-label text-muted type-6" for="applicablestatus1">Individual</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="applicablestatus2" name="applicablestatus" required>
                      <label class="custom-control-label text-muted type-6" for="applicablestatus2">HUF</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="applicablestatus3" name="applicablestatus" required>
                      <label class="custom-control-label text-muted type-6" for="applicablestatus3">Others</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
            <!--<p class="type-7 text-danger mt-1 mb-0">Error Message!</p>-->

            <hr />

            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6">
                <button type="submit" [disabled]="!itr1Form.form.valid" class="btn btn-success btn-block">Proceed</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
